---
layout: 2020/default
section: propuestas
title: Propuestas para esLibre 2020
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h1 class="main-header display-4"><strong>Propuestas para es<span class="red">Libre</span> 2020</strong></h1>
  </div>
</div>
<hr class="my-4">

<p style="padding-top: 1em" align="center">
  <cite style="color: black;">
    <strong><span class="red">ATENCIÓN</span></strong>: Debido a la situación por el COVID-19, la celebración de <strong>es<span class="red">Libre</span> 2020</strong> finalmente se celebrará de forma <strong>completamente online</strong>. Más información <a href="https://eslib.re/2020/reanudacion/">aquí</a>.
  </cite>
</p>

<p>
  En esta edición de <strong>es<span class="red">Libre</span></strong> por ahora hemos aceptado
  las siguientes actividades, pero estamos a la espera de que confirmen su participación para el nuevo formato del congreo:
  <ul>
    <li><a href="charlas/">Charlas</a></li>
    <li><a href="talleres/">Talleres</a></li>
    <li><a href="otras/">Otras</a></li>
  </ul>
</p>

<p>
  Por otro lado, también hemos aceptado y estamos a la espera de confirmación de las siguientes <strong>propuestas de sala</strong>,
  que elaborarán su propio programa (en general, haciendo su propia petición de ponencias):
  <ul id="list">
    {% for devroom in site.pages %}
      {% if devroom.path contains '2020/salas' and devroom.path contains '.md' and devroom.category == 'devrooms' %}
        {% if devroom.state and devroom.state == "cancelled" %}
          <li><a class="cancelled" href="/{{ devroom.path | remove_first: ".md" }}">{{ devroom.title}}</a><strong><span class="red"> CANCELADA</span></strong></li>
        {% else  %}
          <li><a href="/{{ devroom.path | remove_first: ".md" }}">{{ devroom.title}}</a>{% if devroom.state and devroom.state == "confirmed" %}<strong><span class="red"> ¡CONFIRMADA!</span></strong>{% endif %}</li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

</p>
